highlight {
	fill:blue;
}

#status {
	font-family: 'Karla';
}

#instructions {
	font-family: 'Karla';
}

/* general styling */
h2  {
    font-family: 'Karla';
}

p   {
    font-family: 'Karla';
}

a   {
    color: black;
}

#title a {
	text-decoration: none;
}

a:hover {
    color: red;
}

#container {	
	font-family: 'Karla';
	width: 600px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.skills {
	padding-left:20%;
	font-style: oblique;
}

