highlight {
	fill:blue;
	display:block;
}

#status {
	font-family: 'Karla';
}

#instructions {
	font-family: 'Karla';
}

/* general styling */
h2  {
    font-family: 'Karla';
    font-size: 22px;
}

h3 {
	font-family: 'Karla';
	font-size: 20px;
}

p   {
    font-family: 'Karla';
    font-size: 18px;
}

ol	{
	font-family: 'Karla';
    font-size: 14px;
}

ul	{
	font-family: 'Karla';
    font-size: 14px;
}

a   {
    color: black;
}

#title a {
	text-decoration: none;
}

a:hover {
    color: red;
}

#container {	
	font-family: 'Karla';
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-size:18px;
}

p img {
	width:100%;
}

.language-python {
	white-space: pre-wrap;
	background: lightgray;
	word-wrap: break-word;
	
}

.image img {
	width:100%;
}

.skills {
	padding-left:20%;
}

.front-image {
	width:100%;
}

.projpage-image {
	width:100%;
}

.proj-date {
	margin-top:-2.5%;
}

.major-dest {
	margin-left:0px;
}

.minor-dest {
	margin-left: 30px;
}

#fields {
	list-style-type: none;
}