{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2012/98lumens.png" class='projpage-image'>

<div class='proj-title'><h2>98Lumens</h2></div>

<div class='proj-date'>9/2012-10/2012</div>

<h3>Description</h3>
98Lumens is a startup that aims to bring alternative energy to the masses through offsite solar. As a member of the initial team, I focused on building the intial prototype of the solar dashboard that was intended to connect consumers with their investment. 
<br>
<br>
This was my first web project.
<br>
<br>
A live prototype can be seen <a href='http://lit-anchorage-8299.herokuapp.com/sandbox'>here</a> with the data frozen at 12/10/2012.

<h3>Components</h3>
Ruby on Rails, Javascript, Postgres, Heroku

{% endblock %}