<!doctype html>
<html>
    <title>Jasdeep's site</title>
    <head> 
        <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
        <link rel='stylesheet' href="{{ url_for('static', filename='pikaday.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <script src='static/render_page.html'></script>
        <script type="text/javascript" src="./static/jquery.js"></script>
        <script type="text/javascript" src="./static/d3.v2.js"></script>  
        <script type="text/javascript" src='./static/pikaday.min.js'></script>  
        <link rel="canonical" href="http://api.jqueryui.com/1.8/datepicker/">
        {% block head %}
        {% endblock %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-37327792-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <div id="container">
            <div id='title'>
                <div id='home' style='text-align:left;font-size:30px'>
                    <a href='/'>hi, i am jasdeep.</a>
                </div>
                <div id='links' style='float:left;text-align:left'>
                    <a href='/'>home</a> /
                    <a href='/about'>about me</a> /
                    <a href='/projects'>things I'm proud of</a>
                </div>
            </div>
            <br>
            <hr>
            {% block body %}
            {% endblock %}
            <hr>
            <div id='copyright' style='float:left;text-alight:left'>
                Copyright 2012 Jasdeep Garcha
            </div>
        </div>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

    {% block js %}
    {% endblock %}

</html>