{% extends "base.html" %}

{% block body %}
	<div class='content'></div>

	<div class='proj-title'><h2>Bounce</h2></div>

	<div class='proj-date'>12/2012</div>

	<h3>Description</h3>
	Move your mouse back and forth really fast to slow the balls. Click to stop them. Hovering will slow individual ones down.
	<br>
	<br>
	<div id='status'>
	</div>

	<h3>Components</h3>
	D3, Javascript, HTML, CSS
{% endblock %}

{% block js %}
<script type="text/javascript">
jQuery(document).ready(function(){
	var w = $('#container').css('width'),
		h = 500;

	var dataset = new Array();
	var total_pixels = 0;

	for(var i=0; i<50; i++){
		dataset.push(i)
	}
	var circle = new Array();
	var circle_inst = new Array();

	var movement_multiply=30;

	var neg_flag = 1;

	var canvas = d3.select('.content')
						.append('svg')
						.attr('width', w)
						.attr('height', h)

	var red_rand = 0;
	var green_rand = 0;
	var blue_rand = 0;

	// create D3 circles and class objects

	for (var i=0; i<dataset.length; i++){
		var start_y = Math.random()*h;
		circle_inst[i] = new circle_char(start_y);

		red_rand = Math.random()*255;
		green_rand = Math.random()*255;
		blue_rand = Math.random()*255;

		fill_color = 'rgb('+red_rand+','+green_rand+','+blue_rand+')';

		circle[i] = canvas.append('circle')
							.attr('cx', 50+20*i)
							.attr('cy', circle_inst[i].y)
							.attr('r', 10)
							.attr('class','circle '+i+' highlight')
							.style('fill', d3.rgb(red_rand, green_rand, blue_rand))

		// object events for click/mouseover 
		
		circle[i]
			.on('click', function(){
				string = this.className.baseVal;
				split_string = string.split(' ');
				index = parseInt(split_string[1]);

				circle_inst[index].stop_circle();
				d3.select(d3.event.target).style('fill','red');
			})
			.on('mouseover', function(){
				d3.select(d3.event.target).style('stroke', 'yellow');
				d3.select(d3.event.target).style('stroke-width', 5);

				string = this.className.baseVal;
				split_string = string.split(' ');
				index = parseInt(split_string[1]);

				circle_inst[index].slow_circle();
			})
			.on('mouseout', function(){
				d3.select(d3.event.target).style('stroke-width', 0);

				string = this.className.baseVal;
				split_string = string.split(' ');
				index = parseInt(split_string[1]);

				circle_inst[index].slow_circle();
			})
	}

	// move circles independently
	function move_circles(){
		for (var i=0; i<dataset.length; i++){
			var cir_height = $('.circle '+i).attr('cy')
			circle_inst[i].adjust_y(cir_height);

			circle[i].transition()
				.attr('cy', circle_inst[i].y)
		}
	}

	// circle classes - holds information about
	// each D3 circle object and attributes effect
	// movement of circles. Each class object is
	// associated 1:1 with a D3 circle object.

	function circle_char(start_y){
		this.y = start_y;
		this.adjust_y = adjust_y;
		this.neg_flag = 100;
		this.stop = false;
		this.slow = 1;
		this.stop_circle = stop_circle;
		this.slow_circle = slow_circle;

		function adjust_y(y){
			if (!this.stop){
				if (this.y>h && this.neg_flag>0){
					this.neg_flag = this.neg_flag*-1;
				}
				else if (this.y<0 && this.neg_flag<0){
					this.neg_flag = this.neg_flag*-1;
				}
				this.y = this.y + this.slow*movement_multiply/100*this.neg_flag*1;
			}
			else{
				this.y = this.y;
			}
		}

		function stop_circle(){
			this.stop = true;
		}

		function slow_circle(){
			if (this.slow < 1) {
				this.slow = 1;
			}
			else {
				this.slow = 0;
			}
		}
	}	

	// measure extent of mouse movement to determine 
	// how fast or slow the circles should move

	var prev_X = 0;
	var prev_Y = 0;
	var distance = 0;
	var distance_prev = 0;

    $(document).mousemove(function(e){
		distance = Math.sqrt(Math.pow((prev_X-e.pageX),2)+Math.pow((prev_Y-e.pageY),2));
		prev_X = e.pageX;
		prev_Y = e.pageY;
		not_moving = false;
		total_pixels += distance;
		$('#status').html('You\'ve traveled <span style=\'color:red;\'>' + total_pixels.toFixed(2) + '</span> pixels around your piece of the internet.')
    })

    // change the multiplier corresponding to
    // mouse movement

    function change_multiplier(){
    	if (distance==distance_prev){
    		movement_multiply = 50;
    	}
    	else {
    		movement_multiply = 1 - distance;
    		if (movement_multiply<0){
    			movement_multiply = 1
    		}
    	}
    	distance_prev = distance;
    }

    // call these functions to move circles
    // and to determine how fast they should 
    // move every 100 ms

    setInterval(change_multiplier, 100)
	setInterval(move_circles, 100);
})
</script>
{% endblock %}