{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2013/rockhealth_tasting.jpg" class='projpage-image'>

<div class='proj-title'><h2>Craft Chocolate Tasting Classes</h2></div>

<div class='proj-date'>7/2013-Present</div>

<h3>Description</h3>
Craft chocolate has the properties and the potential of being the next fine food. It's following a similar trajectory as wine, beer, and coffee, but it faces a number of unique challenges. 
<br>
<br>
I started holding craft chocolate tasting classes in July 2013 for companies and the public. If you're interested in finding out more, shoot me an email!

<h3>Components</h3>
Chocolate

{% endblock %}