{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2013/chocolateis.png" class='projpage-image'>

<div class='proj-title'><h2>Craft Chocolate is Rising</h2></div>

<div class='proj-date'>10/2013</div>

<h3>Team</h3>
Jasdeep Garcha, Mindy Nichamin

<h3>Description</h3>
Craft chocolate has the properties and the potential of being the next fine food. It's following a similar trajectory as wine, beer, and coffee, but it faces a number of unique challenges. 
<br>
<br>
To promote a craft chcolate eCommerce site I created, I put together this infographic and seeded it with the chocolate making community. Over the course of two weeks, it had over 1000 unique views and 200 Facebook likes. It was also chosen as a <a href="http://visual.ly/3-things-you-dont-know-about-chocolate" target='_blank'>Staff Pick</a> on Visual.ly.
<br>
<br>
Infographic is <a href="http://www.chocolate.is/" target='_blank'>here</a>

<h3>Components</h3>
Foundation, JQuery, D3.js

{% endblock %}