{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2012/doubleyou.png" class='projpage-image'>

<div class='proj-title'><h2>I just wanna hold your hand</h2></div>

<div class='proj-date'>9/2012</div>

<h3>Description</h3>
Data on kids with chronic diseases is valuable. Unfortunately, this data is hard to collect because often kids aren’t motivated and parents must take time out of their day to help facilitate.
<br>
<br>
We used a quantified self tool, the BodyMedia sensor, to manipulate avatars in a web console. The intention was to provoke children with chronic diseases to both keep track of key metrics associated with their health and answer quality of life (QoL) questions that may be helpful in future treatment choices.
<br>
<br>
A prototype can be viewed <a href='http://mydoubleyou.org/'>here</a>.
<br>
<br>
<b><i>Winner of the <a href='http://blogs.ischool.berkeley.edu/hackinghealth/'>2012 Berkeley Hacking Health</a> competition</i></b>

<h3>Components</h3>
Web programming, Sensors

{% endblock %}