{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2009/duron.jpg" class='projpage-image'>

<div class='proj-title'><h2>DURON Energy</h2></div>

<div class='proj-date'>5/2009-8/2009</div>

<h3>Description</h3>
DURON (was Distributed World Power) was launching their first product in the summer of 2009. I worked in the product development team characterizing lead-acid batteries and refining the charge controller for the DURON home solar system. 
<br>
<br>
More about the internship is described in this <a href='http://www.dukengineer.pratt.duke.edu/node/131'>article</a>.

<h3>Components</h3>
MCU programming, C, Lead acid batteries, Solar panels

{% endblock %}