{% extends "base.html" %}

{% block body %}
	<div id="fb-root"></div>
	<script>
	var person_array_high = {};

	alert('in')
	  // Additional JS functions here
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '536237473074873', // App ID
	      channelUrl : '//www.iamjasdeep.com/channel', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });

	    // Additional init code here
	    FB.getLoginStatus(function(response) {
		  if (response.status === 'connected') {
		    // connected
		    person_array_high = testAPI();
		    console.log(person_array_high);
		  } else if (response.status === 'not_authorized') {
		    // not_authorized
		    login();
		  } else {
		    // not_logged_in
		    login();
		  }
		 });

	  };

	  	function login() {
		    FB.login(function(response) {
		        if (response.authResponse) {
		            // connected
		            testAPI();
		            console.log(person_array);
		        } else {
		            // cancelled
		        }
		    });
		}

		function testAPI() {
			person_array = {};

		    console.log('Welcome!  Fetching your information.... ');
		    FB.api('/LolliandPops/posts?limit=75', function(response) {
		    	console.log(response);
		        $.each(response['data'], function(index,entry){
		        	console.log(entry.id);
		        	FB.api('/'+entry.id+'/likes?limit=200', function(response){
		        		console.log('	'+response);
		        		$.each(response['data'], function(index, like){
		        			console.log('		' + like.name);
		        			if(like.name in person_array){
		        				person_array[like.name]+=1;
		        			}
		        			else{
		        				person_array[like.name]=1;
		        			}
		        		})
		        	})
		        })
		    });

		    return person_array;
		}

	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document));
	</script>


{% endblock %}