{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2008/gravis.png" class='projpage-image'>

<div class='proj-title'><h2>Rainwater harvesting in the Thar Desert</h2></div>

<div class='proj-date'>5/2008-8/2008</div>

<h3>Description</h3>

In the semi-arid region of Rajasthan known as the Thar Desert, there is a need to re-introduce rainwater harvesting. Traditionally, tankas were built by the local people in an attempt to withstand the harsh climate of the desert region. Tankas were prepared from local materials and often used after other water supplies were finished. In an attempt to provide the people of the Thar with a secure water source in modern times, piped water was introduced and subsequently increased village well-being; but as a result, local populations have neglected traditional rainwater harvesting techniques. It is not uncommon for piped water supplies and other technological endeavors to fail, leaving these same populations with little choice but to obtain water from far off places. The neglect of the past has put many villagers in a precarious position, and often no water security of their own.
<br>
<br>
GRAVIS has spent over twenty-five years in the Thar Desert building the capacity of communities to secure their futures in a sustainable fashion. In particular, GRAVIS' work in restoring traditional rainwater harvesting to a population that had increasingly relied on government water resources has been impactful. As of 2007, the construction of 3,047 tankas had been subsidized by their programs, benefiting 11,425 families. Although  tankas is an option to obtain water security for marginalized villagers, the economic viability of such an investment in the long term is not known. My research in the Thar sought to address this question; specifically when, if ever, the benefits from tanka use outweigh the costs in maintaining and constructing it. Ultimately this was intended to start a discussion surrounding villager-led tanka investments.
<br>
<br>
Models suggested the structures paid for themselves in 4 to 12 years depending on the level of rain that fell in the desert in a given period of time, which is unpredictable. This is a relatively long period of time considering the small average family income. Rather than villager-led investments, the study explored a hybrid dissemination method in which the NGO lessened its subsidy progressively and required more direct financial investments from villagers. The sentiment this was meant to curb was one of apathy for these appropriate technologies (generally regarded as a handout rather than a needed intervention) and a reliance on hitherto unsuccessful modern interventions (water pipes).

<h3>Components</h3>
Market research, Field interviews, Non-profit

{% endblock %}