{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2012/hold_hands.png" class='projpage-image'>

<div class='proj-title'><h2>DoubleYou</h2></div>

<div class='proj-date'>9/2012</div>

<h3>Team</h3>
Jasdeep Garcha, Melody Donoso, <a href='http://ellenkeith.com/'>Ellen Keith</a>, <a href='http://www.yaelbraha.com/'>Yael Braha</a>, Marc Roth, Tosh Chiang

<h3>Description</h3>
By interacting with one another people are able to tranform their environment through play. Two metal hands are mounted to the wall. When two or more individuals complete the circuit, they provoke audio-visual responses. The level of interactivity is determined by the flow of the electricity through the individuals. The interaction can be tailored per installation. The core tool is an Arduino, and in this case we experimented with Processing projections to activate blank city walls, storefronts, or pavement. This design allows for expansion as well as meaningful data collection.
<br>
<br>
Also, we just like making people hold hands.
<br>
<br>
<b><i>Selection at the <a href='http://sf.urbanprototyping.org/projects/category/makeathon/'>San Francisco Urban Prototyping Makeathon</a></i></b>

<h3>Components</h3>
Design, MCU programming, Metal fabrication, 3D printing

{% endblock %}