{% extends "base.html" %}

{% block body %}
<div id='instructions'><b>
</b></div>
<div id='line'>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <path id='ex' d="M150 0 L75 200 L225 200 Z" />
</svg>
</div>
<div id='status'>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
jQuery(document).ready(function(){
	//////////
	var coordArray = new Array();
	var index = 0;
	
	alert(document.getElementById('ex').getAttribute('d').split('M')[1].split('L')[0].split(' '));

	splitPath = document.getElementById('ex').getAttribute('d').split('M')[1].split('L');
	alert(splitPath);

	$.each(splitPath, function(i, data){
		// if path is closing
		findAPoint = splitPath[i].split(' ');

		if (findAPoint[2]=='Z'){
			return;
		}

		// (x,y)
		findBPoint = splitPath[i+1].split(' ');

		xDifference = parseFloat(findBPoint[0])-parseFloat(findAPoint[0]);
		yDifference = parseFloat(findBPoint[1])-parseFloat(findAPoint[1]);

		var startX = parseFloat(findAPoint[0]);
		var startY = parseFloat(findAPoint[1]);

		stepX = startX;
		stepY = startY;

		for(var i=0; i<50; i++){
			stepX = stepX + xDifference/50;
			stepY = stepY + yDifference/50;
			coordArray.push([stepX, stepY]);
			index = index + 1;
		}
	})

		console.log(coordArray);

		var newArray = coordArray;
		xHigh = 175;
		xLow = 150;
		yHigh = 175;
		yLow = 150;

		xfilteredArray = coordArray.filter(function(i,d){
			return d[0]<xHigh;
		})

		xyfilteredArray = xfilteredArray.filter(function(i,d){
			return d[1]<yHigh;
		})

		alert(xyfilteredArray)

	findLines = document.getElementById('ex').getAttribute('d').split('M')[1].split('L')[2].split(' ');

//	$.each(findLines, function(id, data){
//		alert(data);
//	})




	/////////
	var w = $('#container').css('width'),
		split_w = w.split('px'),
		int_w = parseInt(split_w[0]),
		h = 500;

	var dataset = new Array();
	var total_pixels = 0;
	var num_balls = 100;
	var num_balls_y = 100;
	var ball_radius = int_w/num_balls;

	for(var i=0; i<num_balls*num_balls_y; i++){
		dataset.push(i)
	}
	var circle = new Array();
	var circle_inst = new Array();

	var movement_multiply=30;

	//scales
	var xScale = d3.scale.linear()
						.domain([0,num_balls/2])
						.range([0,int_w])

	var yScale = d3.scale.linear()
						.domain([0,num_balls_y/2])
						.range([0,h])

	var neg_flag = 1;

	var canvas = d3.select('#container')
						.append('svg')
						.attr('width', int_w)
						.attr('height', h)

	var red_rand = 0;
	var green_rand = 0;
	var blue_rand = 0;

	//create circle objects
	for (var i=0; i<num_balls; i++){
		red_rand = Math.random()*255;
		green_rand = Math.random()*255;
		blue_rand = Math.random()*255;

		fill_color = 'rgb('+red_rand+','+green_rand+','+blue_rand+')';
		for (var j=0; j<num_balls_y; j++){
			var start_y = yScale(j);

			circle[i] = canvas.append('circle')
								.attr('cx', ball_radius + xScale(i))
								.attr('cy', ball_radius+ yScale(j))
								.attr('r', ball_radius)
								.attr('class','circle '+i+' highlight')
								.style('fill', d3.rgb(red_rand, green_rand, blue_rand))

			circle[i]
				.on('mouseover', function(){
					//stop circle on mouse hover
					d3.select(d3.event.target)
							.style('opacity',0)
				})
		}
	}

	//move circles independently
	function move_circles(){
		for (var i=0; i<dataset.length; i++){
			var cir_height = $('.circle '+i).attr('cy')
			circle_inst[i].adjust_y(cir_height);

			circle[i].transition()
				.attr('cy', circle_inst[i].y)
		}
	}

	//circle classes
	function circle_char(start_y){
		this.y = start_y;
		this.adjust_y = adjust_y;
		this.neg_flag = 100;
		this.stop = false;
		this.slow = 1;
		this.stop_circle = stop_circle;
		this.slow_circle = slow_circle;

		function adjust_y(y){
			if (!this.stop){
				if (this.y>h && this.neg_flag>0){
					this.neg_flag = this.neg_flag*-1;
				}
				else if (this.y<0 && this.neg_flag<0){
					this.neg_flag = this.neg_flag*-1;
				}
				this.y = this.y + this.slow*movement_multiply/100*this.neg_flag*1;
			}
			else{
				this.y = this.y;
			}
		}

		function stop_circle(){
			this.stop = true;
		}

		function slow_circle(){
			if (this.slow < 1) {
				this.slow = 1;
			}
			else {
				this.slow = 0;
			}
		}
	}	

	var prev_X = 0;
	var prev_Y = 0;
	var distance = 0;
	var distance_prev = 0;

    $(document).mousemove(function(e){
		distance = Math.sqrt(Math.pow((prev_X-e.pageX),2)+Math.pow((prev_Y-e.pageY),2));
		prev_X = e.pageX;
		prev_Y = e.pageY;
		not_moving = false;
		total_pixels += distance;
    })

    function change_multiplier(){
    	if (distance==distance_prev){
    		movement_multiply = 50;
    	}
    	else {
    		movement_multiply = 1 - distance;
    		if (movement_multiply<0){
    			movement_multiply = 1
    		}
    	}
    	distance_prev = distance;
    }

    setInterval(change_multiplier, 100)
	//setInterval(move_circles, 100);
})
</script>
{% endblock %}