<!DOCTYPE html>
<html>
    <title>
        My site
    </title>
    <head>
        <link rel=stylesheet href='static/style.css' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <script src='static/render_page.html'></script>
    </head>
    <body>
        <h2>Hi, I am Jasdeep.</h2>
        <p>I recently quit my job at Microsoft and moved to the Bay Area to figure out what's next. The working hypothesis is that having no plan is the best plan.</p>
        <p>You can see my online presence <a href='https://www.facebook.com/jsgarcha'>here</a>.
        <br>
        You can see my other online presence <a href='http://www.linkedin.com/in/jgarcha'>here</a>.
        <br>
        You can see my other online presence <a href='https://twitter.com/jasgarch'>here</a>.
        <br>
        I answer questions <a href='http://www.quora.com/Jasdeep-Garcha-1'>here</a>.
        <br>
        I'm expanding my investment portfolio <a href='http://www.kickstarter.com/profile/538825346'>here</a>.
        <br>
        Often, I take <a href='https://plus.google.com/photos/102125146498606378907/albums/5790339433728682769?authkey=CPre5_31rf7FYg'>pictures</a> of people's faces.
        <br>
        I save the last sentence of things I write <a href='http://iamjasdeep.tumblr.com/'>here</a>.</p>
    </body>
</html>