{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2010/lenses.png" class='projpage-image'>

<div class='proj-title'><h2>Fluid-filled lenses</h2></div>

<div class='proj-date'>2/2010-5/2010</div>

<h3>Team</h3>
Jasdeep Garcha, Zach Fernandez, Patrick Ye

<h3>Description</h3>
The number of people who need vision correction but lack it number upwards of one billion people, the vast majority of whom live in the developing world. Traditional corrective lenses are not economically feasible due to the shortage of optometrists as well as the costs of obtaining a prescription. Liquid-filled lenses can be adjusted to the proper prescription by the end-user, eliminating the need for an optometrist. We drew the inspiration for these adjustable lenses from Adspecs, a device invented by Professor Joshua Silver at Oxford University. The goal of our Senior design project was to demonstrate proof-of-concept that these adjustable lenses could work.
<br>
<br>
The project showed that adjustable lenses are capable of correcting refractive errors. In fact, we exceeded our goal of +4 diopters correction, but due to membrane deformation, we were only able to test for convex lenses. The lens membranes were not capable of reuse and readjustment because they could not maintain a uniform shape due to plastic deformation. If we had more time and resources, we would have liked to fabricate a lens with thicker PDMS membranes to increase the membrane’s elastic modulus (> 1 mm). The pumping mechanism was functional although we found the viscosity of the liquid created a pumping resistance too great for ease of use. The gasket was well designed and proved easy to assemble and seal.

<h3>Components</h3>
Research, Design, Modeling and simulation

{% endblock %}