{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2014/lolliandpops.png" class='projpage-image'>

<div class='proj-title'><h2>Lolli and Pops</h2></div>

<div class='proj-date'>2013-2015</div>

<h3>Description</h3>
<a href='http://www.lolliandpops.com'>Lolli and Pops</a> is a venture-backed retail company that's redefining the retail confectionary experience. 
<br>
<br>
I joined Lolli and Pops in early 2013 to lead special projects in the digital space, and to design and pilot e-commerce as a new business channel. Since 2013, LP's digital presence has grown 500% primarily on the growth of its brick and mortar expansion. The chain of retail stores has increased from 2 units to 11 units in just under 2 years.
<br>
<br>
In addition to digital products, in 2014/2015 I built out:
<br>
	<ol>
		<li>Partnerships with core technology partners to capture key brick and mortar customer metrics (passerby capture, counting, conversion, retention, dwell time)</li>
		<li>Merchandising technology and processes for quicker and more accurate planning and buying, enabling weekly replenishment and >2% fleet-wide retail $ comp in FY2015</li>
		<li>The company's first forward-looking merchandise forecasting model (facilitating >$1M in replenishment and planned buys)</li>
		<li>Core reporting in Tableau for company-wide self-service business intellgence and division accountability</li>
		<li>Merchandising for Lolli and Pop's premium chocolate business, driving $250K in fleet-wide sales</li>
	</ol>

<h3>Components</h3>
Pyhton, Tableau, Access, SQL, HTML, CSS, Javascript, Foundation, Chocolate, Gummy

{% endblock %}