{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2010/metoo.png" class='projpage-image'>

<div class='proj-title'><h2>Me Too Monologues</h2></div>

<div class='proj-date'>10/2009-2/2010</div>

<h3>Team</h3>
Me Too Team

<h3>Description</h3>
Me Too Monologues is an annual show about identity, written, performed, and produced by members of the Duke community. Students, alumni, and faculty submit stories of their experiences and we turn them into a documentary theatre performance.
<br>
<br>
In 2010, I marketed and acted in the show. Leading up to the show, we installed a large double-sided black light activated chalkboard in the quad area at Duke University to allow students to tell their stories anonymously using flourescent ink. The stories would illuminate at night under the black light.
<br>
<br>
The show sold out two nights in a row.
<br>
<br>
You can listen to my performance <a href='http://www.youtube.com/watch?v=45efTkUyjKA'>here</a>.

<h3>Components</h3>
Marketing, Acting, Wood fabrication

{% endblock %}