{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2010/tablets.jpg" class='projpage-image'>

<div class='proj-title'><h2>Microsoft</h2></div>

<div class='proj-date'>9/2010-9/2012</div>

<h3>Description</h3>
I worked with the Core OS team on the future of operating systems. We were primarily focused on enabling new hardware platforms and features in partnerships with nVidia, Qualcomm, and Intel.
<br>
<br>
On a daily basis, I worked directly with developers on design and implementation of core features.
<br>
<br>
Highlights include:
<ol>
	<li>Managing the product development and adoption of low-power buses (SPBs) in the Windows 8 ecosystem (<a href='http://msdn.microsoft.com/en-us/library/windows/hardware/hh450903(v=vs.85).aspx'>MSDN article</a>)</li>
	<li>Leading strategic engineering engagement with NVIDIA to deliver 3 Windows-based slates on a new processor architecture (ARM)</li>
</ol>

<h3>Components</h3>
Project Management, Product Management, Design, Low-level programming (ASL), Low-level debugging (WinDbg), Test automation

{% endblock %}