{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2011/msni.jpg" class='projpage-image'>

<div class='proj-title'><h2>Microsoft Net Impact</h2></div>

<div class='proj-date'>5/2011-8/2012</div>

<h3>Description</h3>
Net Impact is an international organization that believes business is the strongest catalyst for postive social and environmental change. They inspire students and professionals to create careers for impact.
<br>
<br>
In 2011, they experimented with the concept of corporate chapters. They piloted this for the first time at Microsoft, where I helped co-found the first grassroots organization there to bridge the gap between full time employees and corporate citizenship.
<br>
<br>
Over the first 6 months, I grew the chapter to over 250 members, 5 leadership team members, and 6 grassroots projects. I also partnered with Seattle-based Net Impact chapters and non-profits to increase the organization's breadth.
<br>
<br>
Featured at the 2011 Net Impact Conference in Portland, OR (<a href='http://2011.netimpact.org/talks/22575'>link</a>) and in various online publications:
<ul>
	<li><a href='http://www.greenbiz.com/blog/2012/05/30/engaged-employees-more-satisfied-study-shows'>Engaged employees are more satisfied, study shows</a></li>
	<li><a href='http://netimpact.org/blog/advocating-for-impact-what-workers-want-in-2012'>Advocating for Impact: What Workers Want</a></li>
</ul>

Read more about Net Impact <a href='http://netimpact.org/'>here</a>.

<h3>Components</h3>
Project management, Design, Partnerships, Event planning

{% endblock %}