{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2012/98lumens.png" class='projpage-image'>

<div class='proj-title'><h2>Persistance of Vision</h2></div>

<div class='proj-date'>6/2013</div>

<h3>Team</h3>
Jasdeep Garcha, <a href='http://yosemitebandit.com/'>Matt Ball</a>, <a href="">Trevor Shannon</a>, Amandeep Garcha

<h3>Description</h3>
We were commissioned to create 'something epic' for the MISC magazine launch party in San Francisco. The theme was lights, so we chose to create a spinning globe of LEDs.
<br>
<br>
Persistance of Vision is a concept that's common in many consumer electronics: something is moving so quickly that it appears to be continuous, or persistant. We wanted to create something that took that concept to another level, so we settled on a 12" spinning LED globe made up of a single dimension of lights when spun created the illusion of an entire field of LEDs. Moreover, the LEDs were all tied to I/O pins to create images on the fly.
<br>
<br>
The platform was fabricated from steel, wood, and 3D printed pieces; rotation was powered by a 12V motor tied to a power supply; and, the LED lights and rotation were controlled by an Arduino ATMega and discrete components. Stability was insured by giant clamps.
<br>
<br>
Pictures are <a href="">here</a>

<h3>Components</h3>
Arduino, Fabrication, 3D printing, Digital Logic, Electronics

{% endblock %}