{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2012/98lumens.png" class='projpage-image'>

<div class='proj-title'><h2>Target Accrual</h2></div>

<div class='proj-date'>4/2013</div>

<h3>Team</h3>
Jasdeep Garcha, Patrick Ye, <a href='http://yosemitebandit.com/'>Matt Ball</a>, <a href='http://www.stchangg.com/'>Stephanie Chang</a>, <a href="www.iamwillpatrick.com">Will Patrick</a>

<h3>Description</h3>
Research and development for rare diseases is disjointed. Investigators are rarely plugged into the broader research network and are not aligned on the same goals. The result is a great deal of research, but very little progress.
<br>
<br>
This tool was meant to demonstrate how disjointed research efforts are, connect the nodes of progress throughout the world, and ultimately begin the process of aligning resources toward common goals. It was inspired by the work done by <a href="http://www.chordomafoundation.com">The Chordoma Foundation</a>.
<br>
<br> 
The project was done in 48 hours at a StartXMed Innovation Challenge. Research for rare diseases was scraped from PubMed using <a href="http://www.flask.com">Python/Flask</a> and the relationships between papers/authors was visualized in a tool created using <a href="www.d3js.org">D3.js</a>.
<br>
<br>
The prototype tool is live <a href='http://www.targetaccrual.com' target='_blank'>here</a>

<h3>Components</h3>
Pyhton, Flask, JQuery, Foundation, D3.js

{% endblock %}