{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2009/panel.jpg" class='projpage-image'>

<div class='proj-title'><h2>Technology and International Development course</h2></div>

<div class='proj-date'>8/2009-12/2009</div>

<h3>Description</h3>

From expanding rural energy resources to water purification, its obvious that technology plays an important role in the forces that shape developing world communities. The exponential growth of human population will put a larger strain on available resources and exacerbate current problems.  Technology for the developing world has found a widening niche, but the barriers to its progress are complex and significant.
<br>
<br>
This course sought to explore the role that technology may play in solving social and economic problems facing the developing world. It encouraged students to pursue their big ideas and educate them in the methods of innovation and dissemination of sustainable technology. Through assigned readings, case studies, and discussions this class gave students a more complete idea of the power of appropriate technology in development.
<br>
<br>
Syllabus for the course as it was taught in 2009 is <a href='https://trinity.duke.edu/uploads/assets/InternationalDevHouse_Syllabus.pdf'>here</a>
<br>
<br>
Class was covered in <a href='http://dukengineer.pratt.duke.edu/node/126'>Duke Engineer Magazine</a>

<h3>Components</h3>
Design, Teaching

{% endblock %}