{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<img src="static/images/2008/water.png" class='projpage-image'>

<div class='proj-title'><h2>Characterizing Durham County, NC water efficiency programs</h2></div>

<div class='proj-date'>8/2008-12/2008</div>

<h3>Description</h3>

In 2007, Durham County reservoirs reached an unprecedented level of scarcity: fifty days of premium water remained. The county obviously recovered, but the droughts of the past few years have sent a concerning message to the county and state government: we are not as water-rich as we surmised. Much has been done to remedy any future shortage issues; however, the gap between what can be done and what is being done is still disproportionately high when compared to cities and states that have gone through similar water problems as Durham.
<br>
<br>
Since the industrial revolution, water consumption worldwide has risen at enormous rates. With each explosion in population come less amounts of water per person. What makes the availability of water even more alarming is the apparent disregard for its conservation. In recent years, water has risen to the top of most environmental agendas. Political rhetoric has been continually ineffective in addressing the most pressing concerns.
<br>
<br>
Many believe that because water is a renewable resource, there is no need to adopt policies that protect its use. However when renewable resources are used at a nonrenewable pace, the human race enters a dangerous playing field. In dry American states like Arizona and New Mexico, populations have long felt the tight grip of water scarcity. In response, novel approaches to holistically address water conservation have severely curved consumption. The culture of use has changed dramatically from one that saw liberal water consumption as commonplace to one that values prudence as socially beneficial.
<br>
<br>
My research question concerned this transition in water consumption: How could Durham better approach water conservation policy that both addressed the need for an adequate water supply and facilitated a transition into a frugal water culture?
<br>
<br>
Contact me if you'd like to learn about my conclusions.

<h3>Components</h3>
Market research and analysis, Field interviews

{% endblock %}